In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
df = pd.read_csv('user_data.csv')

In [6]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
df.shape

(400, 5)

In [8]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [9]:
df['Gender'].value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [10]:
df['Gender'] = df['Gender'].map({'Male':1 , 'Female':0})

In [11]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [12]:
df.drop('User ID',axis=1,inplace=True)

In [15]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [16]:
X

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [32]:
from sklearn.preprocessing import StandardScaler
normal = StandardScaler()

In [33]:
X = normal.fit_transform(X)

In [34]:
X

array([[ 3.13172828,  0.59755798, -0.24290411],
       [ 2.93924457,  2.1621128 , -2.14365511],
       [-0.71787048, -0.22717018,  0.344372  ],
       ...,
       [-0.71787048,  3.72666148, -5.07924829],
       [ 1.49856496,  0.78720123, -0.41639614],
       [-0.71787048,  1.35086276, -1.02621208]])

In [35]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=27)

In [37]:
lr.fit(X_train,y_train)

LogisticRegression()

In [38]:
y_pred = lr.predict(X_test)

In [39]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred,y_test)

array([[16, 10],
       [ 0,  1]], dtype=int64)

In [40]:
lr.score(X_test,y_pred)

1.0