In [1]:
import pandas  as pd
import numpy as np

In [2]:
df = pd.read_csv('Purchase.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.drop(['User ID','Gender'],axis=1 ,inplace=True)

In [5]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [6]:
X = df.drop('Purchased',axis=1)

In [7]:
y = df['Purchased']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [10]:
X_train.shape, X_test.shape

((280, 2), (120, 2))

In [11]:
from sklearn.preprocessing  import StandardScaler

In [12]:
scaler = StandardScaler()

In [13]:
scaler.fit(X_train)

StandardScaler()

In [14]:
X_train_scale = scaler.transform(X_train)
X_test_scale = scaler.transform(X_test)

In [15]:
X_train.describe()

              Age  EstimatedSalary
count  280.000000       280.000000
mean    36.939286     68139.285714
std     10.455224     33464.664286
min     18.000000     15000.000000
25%     28.000000     44000.000000
50%     37.000000     65000.000000
75%     43.000000     85250.000000
max     60.000000    150000.000000

In [16]:
X_train_scale = pd.DataFrame(X_train_scale,columns=X_train.columns)
X_test_scale = pd.DataFrame(X_test_scale,columns=X_test.columns)

In [17]:
np.round(X_train_scale.describe(),1)

         Age  EstimatedSalary
count  280.0            280.0
mean    -0.0              0.0
std      1.0              1.0
min     -1.8             -1.6
25%     -0.9             -0.7
50%      0.0             -0.1
75%      0.6              0.5
max      2.2              2.5

In [18]:
X_train.head()

     Age  EstimatedSalary
181   31            71000
344   47           105000
389   48            35000
356   54            70000
193   19            70000

In [19]:
np.round(X_train_scale.head(),1)

   Age  EstimatedSalary
0 -0.6              0.1
1  1.0              1.1
2  1.1             -1.0
3  1.6              0.1
4 -1.7              0.1

In [20]:
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [21]:
X_train_scale.shape

(280, 2)

In [22]:
y_train.shape

(280,)

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
lr = LogisticRegression()

In [25]:
lr.fit(X_train_scale,y_train)

LogisticRegression()

In [26]:
y_pred = lr.predict(X_test_scale)

In [27]:
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(y_test,y_pred)

0.775